// Fonts

$titleFont: "Oswald", sans-serif;
$mainFont: 'Lato', sans-serif;

// Colors

$mainColor : #808080;
$titleColor: #000000;
$buttonColor: #f0141e;
$footerColor: #3f0606;
$headerColor: #ffffff;
$borderPictures: #FEC461;

// BreakPoints

$medium : 767px;
$semi: 900px;
